/* Start Global */

:root {
    --main-color: #242526;
    --sub-color: #18191a;
    --thrd-color: #FFC400;
    --text-color: #d5d5d5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-zoom: none;
}

a {
    color: var(--thrd-color);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--main-color);
}

.spin {
    animation: spining 1s linear infinite;
    -webkit-animation: spining 1s linear infinite;
}

@keyframes spining {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.ControlBtns div {
    cursor: pointer;
}

.ControlBtns div i {
    font-size: 30px;
}

.lds-roller {
    position: fixed;
    top: 0;
    left: -15%;
    min-height: 100vh;
    width: 120%;
    background-color: var(--sub-color);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-roller.small{
    position: relative !important;
    margin: 0 auto !important;
    left: unset !important;
    min-height: unset !important;
    z-index: unset !important;
    top: unset !important;
    background-color: unset !important;
    height: 100px !important;
    width: 100px !important;
    display: block !important;
} 
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--thrd-color);
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.032s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.212s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mobile .darkMode {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 10000;
}

.darkMode i {
    transform: scale(0) rotate(360deg);
    -webkit-transform: scale(0) rotate(360deg);
    -moz-transform: scale(0) rotate(360deg);
    -ms-transform: scale(0) rotate(360deg);
    -o-transform: scale(0) rotate(360deg);
    opacity: 0;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    font-size: 30px;
    text-align: center;
    display: none;
    padding: 3px;
}

.darkMode i.active {
    opacity: 1;
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    display: block;
}

.fly-box {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 800;
    cursor: pointer;
    height: auto;
    width: 35px;
    transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
}

.fly-box * i {
    display: inline-block;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
    padding: 5px 0;
    background-color: var(--thrd-color);
    color: var(--main-color);
    margin: -2px auto;
    width: 100%;
}

.fly-box * i:hover {
    background-color: var(--sub-color);
    color: var(--text-color);
}

.fly-box .prev,
.fly-box .next,
.fly-box .darkMode {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 23px;
}


/* IMG Viwe Box */

#imgViwer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

#imgViwer #imgVwerCloser {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    border-right: 0.5px solid rgba(139, 139, 139, 0.568);
    border-bottom: 0.5px solid rgba(139, 139, 139, 0.568);
    cursor: pointer;
}

#imgViwer #imgBox {
    height: 80%;
    width: 70%;
    position: relative;
    background-color: #fff;
}


/* Nav Bar Open BTN */

.container #openNav {
    display: none;
    position: absolute;
    color: var(--main-color);
    background-color: var(--thrd-color);
    cursor: pointer;
    z-index: 900;
    right: 12px;
    top: 10px;
    width: 47px;
    text-align: center;
    font-size: 40px;
    /* border: 2px solid var(--text-color);
    height: 45px;
    border-radius: 11px; */
}


/* Custom Scroll Bar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Custom Scroll Bar */


/* End Global */


/* Start Navigator Element */

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: left;
}

.container .desktop {
    position: relative;
    width: 7%;
    height: 100%;
    background-color: var(--sub-color);
    overflow-y: auto;
    overflow-x: hidden;
}

.container .desktop ul {
    list-style: none;
}

.container .desktop ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    cursor: pointer;
}

.container .desktop ul li:hover,
.container .desktop ul li.active {
    background-color: var(--main-color) !important;
}

.container .desktop ul li:hover a {
    color: var(--text-color);
}

.container .desktop ul li:not(:first-child) {
    border-top: 1px solid rgba(139, 139, 139, 0.568);
}

.container .desktop ul li:last-child {
    border-bottom: 1px solid rgba(139, 139, 139, 0.568);
}

.container .desktop ul li a {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    padding: 15px 5px;
    -webkit-transition: all 0.2s ease-in-outn-out;
    -moz-transition: all 0.2s ease-in-outn-out;
    -o-transition: all 0.2s ease-in-outn-out;
    -ms-transition: all 0.2s ease-in-outn-out;
    transition: all 0.2s ease-in-outn-out;
    font-size: 16px;
}

.container .desktop ul li a i {
    font-size: 30px;
}

.container .mobile {
    display: none;
    position: fixed;
    left: none;
    top: 0;
    right: -750px;
    background-color: var(--main-color);
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    overflow: hidden;
    z-index: 1000;
    height: 100vh;
    overflow-y: auto;
}

.container .mobile.active {
    right: 0;
}

.container .overlay-nav {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 850;
    top: 0;
    opacity: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
    pointer-events: none;
}

.container .overlay-nav.active {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.883);
    pointer-events: visible;
}

.container .mobile .closer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 30px;
    color: var(--text-color);
    background-color: var(--main-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.container .mobile .info {
    text-align: center;
    padding-top: 5px;
    opacity: 0;
}

.container .mobile.active .info {
    opacity: 1;
}

.container .mobile .info img {
    width: 180px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    height: 180px;
    object-fit: cover;
}

.container .mobile .info h2 {
    color: var(--text-color);
}

.container .mobile .info p {
    color: var(--text-color);
}

.container .mobile ul {
    list-style: none;
}

.container .mobile ul li {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    font-weight: bold;
}

.container .mobile ul li:hover {
    background-color: var(--sub-color);
}

.container .mobile ul li:hover a {
    color: var(--text-color);
}

.container .mobile ul li a {
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.container .socila {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}

.container .socila a {
    text-decoration: none;
    color: var(--text-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    display: inline-block;
    line-height: 33px;
}

.container .socila a:hover {
    background-color: var(--sub-color);
}


/* End Navigator Element */


/* Start Profile Element */

.prof-info {
    position: relative;
    width: 30%;
    background-color: var(--main-color);
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.container .prof-info .info-container {
    text-align: center;
}

.container .prof-info .info-container .block {
    text-align: center;
    padding: 18px 0 0 0;
    margin: 20px 0;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    position: relative;
}

.container .prof-info .info-container .block:after {
    position: absolute;
    opacity: 0.3;
    top: 10%;
    left: 10%;
    border-radius: 300px;
    content: "";
    height: calc(88% + 0px);
    width: calc(88% + 0px);
    background-image: -webkit-repeating-radial-gradient( center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient( center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient( center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}

.prof-info .block img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

#zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    user-select: none;
}

#zoom.active {
    display: flex;
}

#zoom img {
    width: 90vh;
    height: auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    user-select: none;
}

#zoom .fa-times {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    padding: 1px 7px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.container .prof-info .info-container h2 {
    color: var(--text-color);
}

.container .prof-info .info-container p {
    color: var(--text-color);
    position: relative;
}

.container .prof-info .contact-info {
    text-align: left;
    font-size: 17px;
}

.container .prof-info .contact-info p {
    margin: 10px;
}


/* End Profile Element */


/* Start Content Stylenig */

.content {
    background-color: var(--sub-color);
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}


/* Start Main Section */

.content .main,
.content-loader {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    right: -100%;
    z-index: -1;
    height: 100%;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.content .main.active {
    z-index: 1;
    right: 0;
    height: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.content .main h1 {
    color: var(--text-color);
    font-size: 45px;
}

.content .main p {
    color: var(--text-color);
    font-size: 30px;
}

.content .main #contactBtn,
.container .cv-download a {
    padding: 7px 15px;
    border: 1px solid var(--thrd-color);
    color: var(--text-color);
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    background: linear-gradient(to right, transparent 50%, var(--thrd-color) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
}

.content .main #contactBtn {
    background: linear-gradient(to left, transparent 50%, var(--thrd-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.content .main #contactBtn:hover,
.container .cv-download a:hover {
    color: var(--sub-color);
    background-color: transparent;
    background-position: right;
    border-color: var(--sub-color);
}

.content .main #contactBtn:hover {
    background-position: left;
}


/* Start About Section */

.container .content {
    width: 63%;
    overflow: hidden;
}

.content .about {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    overflow: hidden;
    z-index: -2;
    right: -100%;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.content .about.active {
    overflow-y: auto;
    right: 0;
    transform: scale(1);
    height: 100%;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.content .title.both {
    position: relative;
    margin-bottom: 20px;
    padding-left: 5px;
}

.content .title.sub {
    position: relative;
    color: var(--text-color);
    padding-left: 3px;
}

.content .title.both h1,
.content .title.sub h2 {
    padding-left: 2px;
    border-left: 2px solid var(--thrd-color);
    color: var(--text-color);
    font-weight: bold;
}

.content .title.both h1 span,
.content .title.sub h2 span {
    color: var(--thrd-color);
}

.content .prog-skills {
    margin-left: 25px;
}

@media (max-width: 800px) {
    .content .prog-skills {
        margin-left: 0px;
    }
}

.content .prog-skills .title.sub {
    width: 100%;
    margin: 9px 0;
}

.content .certifications .title.sub p,#status-box p {
    font-size: 12px;
}

.content .certifications .title.sub p span #status-box p span{
    color: var(--thrd-color);
    font-weight: bold;
}
#status-box p span.red{
    color: red;
}
.content .about .desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--text-color);
    margin: 0 0 30px 0;
}

.content .about .desc div:first-child {
    margin: 0 10px 0 0;
}

.content .about .desc .infoAboutMe span {
    color: var(--thrd-color);
}

.content .about .featuers .boxs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 0;
}

.content .about .featuers .boxs .block {
    margin: 10px 10px 20px 10px;
}

.content .about .featuers .boxs .block i {
    font-size: 45px;
    color: var(--thrd-color);
    margin-bottom: 5px;
}

.content .about .featuers .boxs .block h3,
.content .about .featuers .boxs .block p {
    color: var(--text-color);
}

.content .about .facts .boxs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content .about .facts .boxs .block {
    background-color: var(--main-color);
    margin: 10px;
    text-align: center;
    padding: 35px 20px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border: 2px solid #555;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    position: relative;
    bottom: 0px;
}

.content .about .facts .boxs .block:hover {
    bottom: 5px;
    box-shadow: 0 12px 17px rgb(0 0 0 / 12%);
}

.content .about .facts .boxs .block i {
    color: var(--thrd-color);
    font-size: 50px;
}

.content .about .facts .boxs .block p {
    color: var(--text-color);
    font-size: 20px;
}

.content .about .facts .boxs .block span {
    color: var(--text-color);
    font-size: 18px;
}


/* Start Resum Section */

.resum {
    position: absolute;
    width: 100%;
    padding: 40px;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    overflow: hidden;
    opacity: 0;
    z-index: -3;
    height: 100%;
    transform: scale(1.2);
    right: -100%;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.resum img {
    width: 200px;
}

.resum.active {
    height: 100%;
    overflow-y: auto;
    opacity: 1;
    transform: scale(1);
    right: 0;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.resum .title.both {
    width: 254px;
}

.resum .title.both h1 {
    position: relative;
}

.resum .edu-skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--text-color);
}

.resum .edu-skill .edu .block {
    display: flex;
    justify-content: center;
}

.resum .edu-skill .edu .block {
    margin-bottom: 0px;
}

.resum .edu-skill .edu .left-part {
    text-align: right;
    padding: 15px 12px 0 0;
}

.resum .edu-skill .edu .left-part p {
    font-size: 14px;
}

.resum .edu-skill .edu .middel-part {
    display: flex;
    justify-content: center;
    position: relative;
    width: 15px;
    padding-top: 20px;
}

.resum .edu-skill .edu .middel-part span:first-child {
    height: 100%;
    width: 1px;
    background-color: var(--main-color);
    position: absolute;
}

.resum .edu-skill .edu .middel-part span:nth-child(2) {
    width: 15px;
    height: 15px;
    background-color: var(--thrd-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 7px var(--thrd-color);
}

.resum .edu-skill .edu .right-part {
    width: 100%;
    text-align: left;
    padding: 14px 0 0 15px;
}

.resum .certifications .c-boxs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.resum .certifications .c-pic {
    margin: 5px;
    padding: 8px;
    background-color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
}

.content .resum .certifications .title.sub:after {
    right: -38px;
}

.resum .certifications .c-pic .info-box {
    display: flex;
    align-items: center;
}

.resum .certifications .c-pic .img-box {
    margin-right: 5px;
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--thrd-color);
    padding: 1px 3px;
}

.resum .certifications .c-pic .img-box img {
    height: 100%;
    width: 100%;
}

.resum .certifications .c-pic .info-box p {
    color: var(--thrd-color);
    font-size: 14px;
}

.resum .certifications .c-pic .info-box p span {
    color: var(--text-color);
}

.resum .certifications .c-pic .info-box p a {
    color: var(--thrd-color);
}

.resum .prog-skills .skills-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.resum .prog-skills .skills-container .title.sub {
    margin-bottom: 20px;
}

.resum .prog-skills .skills-container .skill {
    display: flex;
    position: relative;
    width: 100%;
    padding: 0 2px;
    overflow: hidden;
    height: 41px;
    border-bottom: 1px solid var(--main-color);
}

.resum .prog-skills .skills-container .skill .skill-title {
    text-align: left;
    width: 80%;
}

.skill .skill-prog {
    text-align: right;
    width: 20%;
}

.resum .prog-skills .skills-container .skill .progress,
.resum .prog-skills .skills-container .skill .progress-border {
    width: 99%;
    position: absolute;
    height: 3px;
    bottom: 9px;
    display: block;
    background-color: var(--thrd-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.resum .prog-skills .skills-container .skill .progress {
    left: 3px;
}

.resum .prog-skills .skills-container .skill .progress-border {
    background-color: transparent;
    border: 0.5px solid var(--thrd-color);
    height: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    bottom: 8px;
    width: 99%;
}

.resum .additional-skills .title.sub {
    margin: 43px 0px 10px 0;
}

.resum .additional-skills .title.sub::after {
    right: -25px;
}

.resum .additional-skills .knowledges {
    margin-bottom: 20px;
}

.resum .additional-skills .knowledges span {
    padding: 5px;
    background-color: transparent;
    color: var(--thrd-color);
    border: 1px solid var(--thrd-color);
    margin: 5px;
    display: inline-block;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.resum .additional-skills .knowledges span:hover {
    background-color: var(--thrd-color);
    color: #000;
    user-select: none;
}


/* Start Portfolio Section */

.portfolio {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    overflow: hidden;
    opacity: 0;
    z-index: -4;
    right: -100%;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.portfolio.active {
    overflow-y: auto;
    opacity: 1;
    height: 100%;
    transform: scale(1);
    z-index: 1;
    right: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.portfolio .tabs {
    margin: 10px auto;
}

.portfolio .tabs a {
    color: var(--main-color);
    background-color: var(--thrd-color);
    padding: 2px 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 2px;
    text-decoration: none;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    border: 2px solid transparent;
}

.portfolio .tabs a.active,
.portfolio .tabs a:hover {
    border: 2px solid var(--thrd-color);
    background-color: transparent;
    color: var(--thrd-color);
}

@media (max-width: 470px) {
    .portfolio .tabs a:last-of-type {
        display: inline-block;
        margin: 10px 2px;
    }
}

@media (max-width: 310px) {
    .portfolio .tabs a:nth-child(2) {
        display: inline-block;
        margin: 10px 2px;
    }
}

.portfolio .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.portfolio .projects .project {
    background-color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    position: relative;
    margin: 5px;
    min-height: 150px;
    transition: .5s linear;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -o-transition: .5s linear;
    display: none;
    overflow: hidden;
}

.portfolio .projects .project.active {
    display: block;
}

.portfolio .projects .project .img-box {
    overflow: hidden;
    height: 100%;
}

.portfolio .projects .project .img-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}

.portfolio .projects .project .info-box {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: var(--thrd-color);
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    padding-bottom: 15px;
}

.portfolio .projects .project:hover .info-box {
    bottom: 0;
}

.portfolio .projects .project:hover .img-box img {
    transform: rotate(10deg) scale(1.3);
    -webkit-transform: rotate(10deg) scale(1.3);
    -moz-transform: rotate(10deg) scale(1.3);
    -ms-transform: rotate(10deg) scale(1.3);
    -o-transform: rotate(10deg) scale(1.3);
}

.portfolio .projects .project .info-box h3 {
    color: #fff;
    font-size: 20px;
    padding: 2px;
}

.portfolio .projects .project .info-box p {
    font-size: 15px;
    padding: 0 10px;
    color: #fff;
}

.portfolio .projects .project .info-box a {
    position: absolute;
    bottom: -5px;
    right: -5px;
    z-index: 10;
    margin: 10px;
    text-decoration: none;
    color: var(--thrd-color);
    font-size: 15px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    background-color: var(--main-color);
    padding: 4px 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.portfolio .projects .project .info-box a:hover {
    border-color: transparent;
}


/* Start Contact Me */

.contact {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    overflow: hidden;
    /*opacity: 0;
    */
    z-index: -5;
    transform: scale(0.8);
    right: -100%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.contact.active {
    overflow-y: auto;
    transform: scale(1);
    right: 0;
    display: block;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.contact .contact-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* .contact .contact-container .icons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 30%;
}

.contact .contact-container .icons>span {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 15px 0;
    background-color: var(--main-color);
    padding: 20px 10px;
    border: 1px solid #666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: var(--text-color);
}

.contact .title.both {
    width: 262px;
}

.contact .contact-container .icons a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 15px 0;
    background-color: var(--main-color);
    padding: 20px 10px;
    border: 1px solid #666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: var(--text-color);
}

.contact .contact-container .icons span i {
    font-size: 33px;
    color: var(--thrd-color);
} */

.contact .contact-container .form {
    width: 100%;
    padding: 0 10px;
}

.contact .contact-container .form .imgBoxx {
    position: relative;
}

.contact .contact-container .form .imgBoxx .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact .contact-container .form .title.sub {
    width: 330px;
    margin-top: 20px;
}

.contact .contact-container .form form {
    position: relative;
}

.contact .contact-container .form form .message {
    position: absolute;
    top: 0;
    left: 3px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}

.contact .contact-container .form form .message .close {
    position: absolute;
    top: 0px;
    color: var(--thrd-color);
    left: 5px;
    font-size: 25px;
    cursor: pointer;
}

.contact .contact-container .form form .message a {
    color: var(--thrd-color);
    text-decoration: underline;
}

.contact .contact-container .form form textarea,
.contact .contact-container .form form input {
    width: 100%;
    display: block;
    margin: 3px;
    padding: 5px;
    border: 1px solid #000;
    background-color: var(--main-color);
    height: 40px;
    color: var(--text-color);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.contact .contact-container .form form textarea:focus,
.contact .contact-container .form form input:focus {
    outline: none;
}

.contact .contact-container .form form textarea {
    resize: none;
    height: 88px;
}

.contact .contact-container .form form input:last-child {
    text-align: center;
    margin-top: 10px;
    color: var(--thrd-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.contact .contact-container .form form input:last-child:hover {
    background-color: var(--sub-color);
    border-color: var(--thrd-color);
}

.contact .contact-container .form form .custom {
    position: relative;
    margin: 22px 0;
}

.contact .contact-container .form form .custom input:focus+label,
.contact .contact-container .form form .custom textarea:focus+label,
.contact .contact-container .form form .custom label.has-data {
    top: 0px;
    left: 9px;
    background: var(--main-color);
    padding: 0 5px;
    font-size: 14px;
    line-height: 1px;
}
.contact .contact-container .form form .custom label {
    position: absolute;
    z-index: 2;
    top: 0;
    top: 7px;
    left: 10px;
    color: var(--text-color);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.contact .form form .custom .err {
    font-size: 12px;
    color: red;
    padding-left: 6px;
    position: absolute;
    bottom: -20px;
    left: 0;
}
.contact .form form .custom .err i {
    color: red !important;
}
i {
    color: var(--thrd-color);
}


/* Responsev */

@media (max-width: 1025px) {
    .container .desktop {
        display: none;
    }
    .container #openNav {
        display: block;
        z-index: 900;
    }
    .container .mobile {
        display: block;
    }
    .container .prof-info {
        display: none;
    }
    .container .content {
        width: 100%;
    }
    .portfolio .projects {
        grid-template-columns: repeat(3, 1fr);
    }
    #imgViwer #imgBox {
        height: 70%;
        width: 95%;
    }
    .lds-roller {
        left: -13%;
    }
}

@media (max-width: 800px) {
    .portfolio .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .resum .edu-skill {
        grid-template-columns: repeat(1, 1fr);
    }
    .resum {
        padding: 40px 10px;
    }
    #imgViwer #imgBox {
        height: 63%;
        width: 90%;
    }
    .contact {
        padding: 40px 10px;
    }
    .lds-roller {
        left: -15%;
    }
    .resum .prog-skills .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:730px) {
    .resum .certifications .c-boxs {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 650px) {
    .lds-roller {
        left: -18%;
    }
    .portfolio .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .content .about {
        padding: 40px 10px;
    }
    .content .about .desc {
        grid-template-columns: repeat(1, 1fr);
    }
    .content .about .infoAboutMe {
        padding-top: 10px;
    }
    .content .about .featuers .boxs {
        grid-template-columns: repeat(1, 1fr);
        margin: 30px 0;
    }
    .content .about .facts .boxs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .contact .contact-container {
        display: block;
    }
    .contact .contact-container .form {
        width: 100%;
        padding: 0 0 50px 0;
    }
    .contact .contact-container .icons {
        width: 100%;
    }
    .contact {
        padding-bottom: 10px;
    }
    #imgViwer #imgBox {
        height: 60%;
        width: 95%;
    }
    .container .mobile.active {
        width: 250px;
    }
    .portfolio {
        padding: 40px 10px;
    }
}

@media (max-width: 450px) {
    .content .main h1 {
        font-size: 30px;
    }
    .content .main p {
        font-size: 19px;
    }
    .portfolio .projects {
        grid-template-columns: repeat(1, 1fr);
    }
    #imgViwer #imgBox {
        height: 43%;
        width: 100%;
    }
    .fly-box {
        left: 0;
        bottom: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: var(--thrd-color);
        height: 50px;
    }
    .darkMode i {
        font-size: 25px;
        background-color: unset;
    }
    .fly-box i:hover,
    .fly-box i {
        background-color: unset;
        color: var(--main-color);
    }
    .fly-box>div {
        width: calc(100% / 3);
    }
}
@keyframes ldio-tukjxhtv7ja {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-tukjxhtv7ja div { box-sizing: border-box!important }
  .ldio-tukjxhtv7ja > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: rgb(6, 238, 6) transparent green transparent;
    animation: ldio-tukjxhtv7ja 1s linear infinite;
  }
  .ldio-tukjxhtv7ja > div:nth-child(2) { border-color: transparent }
  .ldio-tukjxhtv7ja > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-tukjxhtv7ja > div:nth-child(2) div:before, .ldio-tukjxhtv7ja > div:nth-child(2) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: green;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 green;
  }
  .ldio-tukjxhtv7ja > div:nth-child(2) div:after { 
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 green;
  }
  .loadingio-spinner-dual-ring-90mtuueg14c {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-tukjxhtv7ja {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-tukjxhtv7ja div { box-sizing: content-box; }