/*
!The code written below is not my current experience. It was written a long time ago, almost at the beginning of 2020
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #242526;
    --sub-color: #18191a;
    --thrd-color: #FFC400;
    --text-color: #d5d5d5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-zoom: none;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;

}
.text-primary{
    color: var(--thrd-color) !important;
}
.ar {
    font-family: 'Rubik', sans-serif;

}

.sm {
    font-size: 12px;
}

a {
    color: var(--thrd-color);
}

body {
    background-color: var(--main-color);
    scroll-behavior: smooth;

}

.en {
    font-family: 'Poppins', sans-serif;

}

.en * {
    font-family: 'Poppins', sans-serif;

}
.my-5{
    margin: 5px 0;
    display: block;
}
.spin {
    animation: spining 1s linear infinite;
    -webkit-animation: spining 1s linear infinite;
}

.infoAboutMe {
    padding: 0 20px;
}
.mode-toggler{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 20px 20px 15px;
    z-index: 100;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000;
    cursor: pointer;
    border-radius: 0 0 50px 0;
    -webkit-border-radius: 0 0 50px 0;
    -moz-border-radius: 0 0 50px 0;
    -ms-border-radius: 0 0 50px 0;
    -o-border-radius: 0 0 50px 0;
}
.mode-toggler * {
    pointer-events: none;
}
.mode-toggler svg {
    width: 30px;
    height: 30px;
}
.mode-toggler.dark{
    background-color:#ffffffd5 !important;
    color: #000;
}
.mode-toggler.light{
    color: #fff;
    background-color:#000000c5 !important;
}
.mode-toggler.dark .dark{
    display: none;
}
.mode-toggler.dark .light{
    display: block;
}
.mode-toggler.light .light{
    display: none;
}
.mode-toggler.light .dark{
    display: block;
}
.fadeInOut{
    font-weight: bolder;
    animation: fadeInOut 1s ease-in infinite;
    -webkit-animation: fadeInOut 1s ease-in infinite;
}
.text-skin{
    color: var(--text-color);
}
@keyframes spining {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.lds-roller {
    position: fixed;
    top: 0;
    left: -15%;
    min-height: 100vh;
    width: 120%;
    background-color: var(--sub-color);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-roller.small {
    position: relative !important;
    margin: 0 auto !important;
    left: unset !important;
    min-height: unset !important;
    z-index: unset !important;
    top: unset !important;
    background-color: unset !important;
    height: 100px !important;
    width: 100px !important;
    display: block !important;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--thrd-color);
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.032s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.212s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}






/* IMG Viwe Box */

#imgViwer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

#imgViwer svg {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

#imgViwer #imgBox {
    height: 80%;
    width: 70%;
    position: relative;
    background-color: #fff;
}


/* Nav Bar Open BTN */

/* Custom Scroll Bar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Custom Scroll Bar */


/* End Global */


/* Start Navigator Element */

.container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: left;
}

.container .socila {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}

.pointer {
    cursor: pointer !important;
}

.container .socila a {
    text-decoration: none;
    color: var(--text-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    display: inline-block;
    line-height: 35px;
}
.container .socila a.bg-white{
    background-color: #fff;
}


/* End Navigator Element */


/* Start Profile Element */

.prof-info {
    position: sticky;
    width: 30%;
    background-color: var(--main-color);
    overflow: hidden;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    align-items: center;
}

.container .prof-info .info-container {
    text-align: center;
}

.container .prof-info .info-container .block {
    text-align: center;
    padding: 18px 0 0 0;
    margin: 20px 0;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    position: relative;
}

.container .prof-info .info-container .block:after {
    position: absolute;
    opacity: 0.3;
    top: 10%;
    left: 10%;
    border-radius: 300px;
    content: "";
    height: calc(88% + 0px);
    width: calc(88% + 0px);
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}

.prof-info .block img,
.wlcm-msg .profPic img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

@media (min-width: 992px) {
    .wlcm-msg .profPic {
        display: none;

    }
}

#zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    user-select: none;
}

#zoom.active {
    display: flex;
}

#zoom img {
    width: 90vh;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    user-select: none;
}

#zoom .fa-times {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    padding: 1px 7px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.container .prof-info .info-container h2 {
    color: var(--text-color);
}

.container .prof-info .info-container p {
    color: var(--text-color);
    position: relative;
}

.container .prof-info .contact-info {
    text-align: center;
    font-size: 17px;
}

.container .prof-info .contact-info p {
    margin: 10px;
}


/* End Profile Element */


/* Start Content Stylenig */

/* Start Main Section */

.content .main,
.content-loader {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    right: -100%;
    z-index: -1;
    height: 100%;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.content .main.active {
    z-index: 1;
    right: 0;
    height: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.content .main h1 {
    color: var(--text-color);
    font-size: 45px;
}

.content .main p {
    color: var(--text-color);
    font-size: 30px;
}

#contactBtn,
.cv-download a {
    padding: 7px 15px;
    border: 1px solid var(--thrd-color);
    color: var(--text-color);
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    background: linear-gradient(to right, transparent 50%, var(--thrd-color) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
}

 #contactBtn {
    background: linear-gradient(to left, transparent 50%, var(--thrd-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

 #contactBtn:hover,
.cv-download a:hover {
    color: var(--sub-color);
    background-color: transparent;
    background-position: right;
    border-color: var(--sub-color);
}

#contactBtn:hover {
    background-position: left;
}


/* Start About Section */

.container .content {
    width: 70%;
    background-color: var(--sub-color);
    position: relative;
    overflow: auto !important;
    scroll-behavior: smooth;

}

.content .about {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    overflow: hidden;
    z-index: -2;
    right: -100%;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.content .about.active {
    overflow-y: auto;
    right: 0;
    transform: scale(1);
    height: 100%;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.content .title.both {
    position: relative;
    margin-bottom: 20px;
    padding-left: 5px;
}

.content .title.sub {
    position: relative;
    color: var(--text-color);
    padding-left: 3px;
}

.content .title.both h1,
.content .title.sub h2 {
    padding-left: 6px;
    border-left: 2px solid var(--thrd-color);
    color: var(--text-color);
    font-weight: bold;
}

.content .title.both h1 span,
.content .title.sub h2 span {
    color: var(--thrd-color);
}
.content .title{
    margin-bottom: 40px;
}


#status-box * {
    color: var(--text-color) !important;
}

#status-box p span.red {
    color: red !important;
}

.content .about .desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--text-color);
    margin: 0 0 30px 0;
}

.content .about .desc div:first-child {
    margin: 0 10px 0 0;
}

.content .about .desc .infoAboutMe span {
    color: var(--thrd-color);
}

.content .about .featuers .boxs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 0;
}

.content .about .featuers .boxs .block {
    margin: 10px 10px 20px 10px;
}

.content .about .featuers .boxs .block i {
    font-size: 45px;
    color: var(--thrd-color);
    margin-bottom: 5px;
}

.content .about .featuers .boxs .block h3,
.content .about .featuers .boxs .block p {
    color: var(--text-color);
}

.content .about .facts .boxs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content .about .facts .boxs .block {
    background-color: var(--main-color);
    margin: 10px;
    text-align: center;
    padding: 35px 20px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border: 2px solid #555;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    position: relative;
    bottom: 0px;
}

.content .about .facts .boxs .block:hover {
    bottom: 5px;
    box-shadow: 0 12px 17px rgb(0 0 0 / 12%);
}

.content .about .facts .boxs .block i {
    color: var(--thrd-color);
    font-size: 50px;
}

.content .about .facts .boxs .block p {
    color: var(--text-color);
    font-size: 20px;
}

.content .about .facts .boxs .block span {
    color: var(--text-color);
    font-size: 18px;
}


/* Start Resum Section */
.content .skills{
    padding: 40px;
}

.content .skills .knowledges {
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.content .skills .knowledges span {
    padding: 5px 20px;
    background-color: transparent;
    color: var(--thrd-color);
    border: 1px solid var(--thrd-color);
    margin: 5px;
    display: inline-block;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .skills .knowledges span:hover {
    background-color: var(--thrd-color);
    color: #000;
    user-select: none;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}


/* Start Portfolio Section */

.portfolio {
    padding: 40px;
    overflow: hidden;
}

.portfolio .tabs {
    margin: 10px auto;
    display: flex;
}

.portfolio .tabs a {
    color: var(--main-color);
    background-color: var(--thrd-color);
    padding: 2px 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    height: 40px;
    line-height: 32px;
    margin: 0 2px;
    text-decoration: none;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    border: 2px solid transparent;
}

.portfolio .tabs a.active,
.portfolio .tabs a:hover {
    border: 2px solid var(--thrd-color);
    background-color: transparent;
    color: var(--thrd-color);
}

@media (max-width: 470px) {
    .portfolio .tabs a:last-of-type {
        display: inline-block;
        margin: 0 3px;
    }
}

@media (max-width: 310px) {
    .portfolio .tabs a:nth-child(2) {
        display: inline-block;
        margin: 0 3px;
    }
}

.portfolio .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.portfolio .projects .project {
    background-color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    position: relative;
    margin: 5px;
    min-height: 250px;
    transition: .5s linear;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -o-transition: .5s linear;
    overflow: hidden;
}


.portfolio .projects .project .img-box {
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.portfolio .projects .project .img-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    object-fit: cover;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
    max-height: 255px;
}

.portfolio .projects .project .info-box {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: var(--thrd-color);
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    width: 100%;
    height: fit-content;
    text-align: left;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    padding-bottom: 15px;
}

.portfolio .projects .project:hover .info-box {
    bottom: 0;
}

.portfolio .projects .project:hover .img-box img {
    transform: rotate(10deg) scale(1.3);
    -webkit-transform: rotate(10deg) scale(1.3);
    -moz-transform: rotate(10deg) scale(1.3);
    -ms-transform: rotate(10deg) scale(1.3);
    -o-transform: rotate(10deg) scale(1.3);
}

.portfolio .projects .project .info-box h3 {
    color: #fff;
    font-size: 20px;
    padding: 4px 9px;
    text-align: left;
}

.portfolio .projects .project .info-box p {
    font-size: 15px;
    padding: 0 9px;
    margin-bottom: 10px;
    color: #fff;
    text-align: left;
}

.portfolio .projects .project .info-box a {
    color: var(--sub-color);
}

.portfolio .projects .project .info-box a.prev-btn {
    margin: 10px;
    text-decoration: none;
    color: var(--thrd-color);
    font-size: 15px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    background-color: var(--main-color);
    padding: 4px 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.portfolio .projects .project .info-box a:hover {
    border-color: transparent;
}


/* Start Contact Me */

.contact {
    padding: 40px;
    overflow: hidden;
}

.contact .contact-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* .contact .contact-container .icons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 30%;
}

.contact .contact-container .icons>span {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 15px 0;
    background-color: var(--main-color);
    padding: 20px 10px;
    border: 1px solid #666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: var(--text-color);
}

.contact .title.both {
    width: 262px;
}

.contact .contact-container .icons a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 15px 0;
    background-color: var(--main-color);
    padding: 20px 10px;
    border: 1px solid #666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: var(--text-color);
}

.contact .contact-container .icons span i {
    font-size: 33px;
    color: var(--thrd-color);
} */

.contact .contact-container .form {
    width: 100%;
    padding: 0 10px;
}
.contact .contact-container .slides{
    display: flex;
}
.slides .image{
    width: 40%;
}
.form form{
    width: 60%;
}
@media (max-width:768px) {
    .slides .image{
        display: none;
    }
    .form form{
        width: 100%;
    }   
}
.contact .contact-container .form form {
    position: relative;
}

.contact .contact-container .form form .message {
    position: absolute;
    top: 0;
    left: 3px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}

.contact .contact-container .form form .message .close {
    position: absolute;
    top: 0px;
    color: var(--thrd-color);
    left: 5px;
    font-size: 25px;
    cursor: pointer;
}

.contact .contact-container .form form .message a {
    color: var(--thrd-color);
    text-decoration: underline;
}

.contact .contact-container .form form textarea,
.contact .contact-container .form form input {
    width: 100%;
    display: block;
    margin: 3px;
    padding: 5px;
    border: 1px solid #000;
    background-color: var(--main-color);
    height: 40px;
    color: var(--text-color);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.contact .contact-container .form form textarea:focus,
.contact .contact-container .form form input:focus {
    outline: none;
}

.contact .contact-container .form form textarea {
    resize: none;
    height: 88px;
}

.contact .contact-container .form form input:last-child {
    text-align: center;
    margin-top: 10px;
    color: var(--thrd-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.contact .contact-container .form form input:last-child:hover {
    background-color: var(--sub-color);
    border-color: var(--thrd-color);
}

.contact .contact-container .form form .custom {
    position: relative;
    margin: 26px 0;
}

.contact .contact-container .form form .custom input:focus+label,
.contact .contact-container .form form .custom textarea:focus+label,
.contact .contact-container .form form .custom label.has-data {
    top: 0px;
    left: 9px;
    background: var(--main-color);
    padding: 0 5px;
    font-size: 14px;
    line-height: 1px;
}

.contact .contact-container .form form .custom label {
    position: absolute;
    z-index: 2;
    top: 0;
    top: 7px;
    left: 10px;
    color: var(--text-color);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.contact .form form .custom .err {
    font-size: 12px;
    color: red;
    padding-left: 6px;
    position: absolute;
    bottom: -19px;
    left: 0;
}

.contact .form form .custom .err i {
    color: red !important;
}

i {
    color: var(--thrd-color);
}


/* Responsev */

@media (max-width: 992px) {
    .container .prof-info {
        width: 100%;
    }

    .container .content {
        width: 100%;
    }

    .portfolio .projects {
        grid-template-columns: repeat(3, 1fr);
    }

    #imgViwer #imgBox {
        height: 70%;
        width: 95%;
    }

    .lds-roller {
        left: -13%;
    }
}

@media (max-width: 800px) {
    .portfolio .projects {
        grid-template-columns: repeat(2, 1fr);
    }


    #imgViwer #imgBox {
        height: 63%;
        width: 90%;
    }

    .contact {
        padding: 70px 10px;
    }

    .lds-roller {
        left: -15%;
    }

}

@media (max-width: 650px) {
    .lds-roller {
        left: -18%;
    }

    .portfolio .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact .contact-container .form {
        width: 100%;
        padding: 0 0 50px 0;
    }

    .contact .contact-container .icons {
        width: 100%;
    }

    .contact {
        padding-bottom: 10px;
    }

    #imgViwer #imgBox {
        height: 60%;
        width: 95%;
    }


    .portfolio,.skills {
        padding: 40px 10px !important;
    }
}

@media (max-width: 450px) {
    .portfolio .projects {
        grid-template-columns: repeat(1, 1fr);
    }
    #imgViwer #imgBox {
        height: 43%;
        width: 100%;
    }
    .portfolio,.skills {
        padding: 40px 10px !important;
    }
}